<%include ../template/header.ejs%>
    <%options.forEach (function (option){%>
    <div class="input-group">
        <input type="checkbox" /><%=option.description%>
    </div>
    <%})%>
<%include ../template/header.ejs%>